.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 16px;
}


.card {
  width: 100%;
  max-width: 500px;
}


.title {
  font-size: clamp(32px, 5vw, 50px); 
  font-weight: bold;
  text-align: center;
  margin-bottom: 40px;
  margin-top: 20px;
  color: #f4a261;
}


.subtitle {
  text-align: center;
  color: #000;
  margin-bottom: 16px;
  font-size: clamp(16px, 2vw, 20px);
}


.form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin: 16px 0;
  width: 100%;
}


.input {
  padding: 16px;
  width: 100%;
  max-width: 400px;
  min-height: 50px;
  font-size: 1rem;
  border: 1px solid #f4a261;
  border-radius: 20px;
  color: #000;
  margin-left: auto;
  margin-right: auto;
}


.button {
  width: 100%;
  max-width: 400px;
  height: 50px;
  padding: 10px;
  font-size: 1rem;
  background-color: #FFB64C;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-left: auto;
  margin-right: auto;
}

.button:hover {
  background-color: #000;
  color: #f4a261;
}

.link {
  padding-top: 30px;
  text-align: center;
  font-size: 1rem;
  color: #000;
}

.CadastreButton{
  color: #f4a261;
}


@media (min-width: 1440px) {
  .card {
      max-width: 600px;
  }

  .input,
  .button {
      max-width: 500px;
      font-size: 1.2rem;
  }

  .title {
      font-size: 6vw;
  }
}


@media (max-width: 768px) {
  .title {
      font-size: 5vw;
  }

  .input,
  .button {
      width: 90%;
  }
}

@media (max-width: 480px) {
  .title {
      font-size: 6vw;
  }

  .subtitle {
      font-size: 1rem;
  }

  .input,
  .button {
      width: 100%;
  }
}
