/* Estilos gerais */
.perfilContainer {
    /* max-width: 1200px; */
    width: 100%;
    margin: 0 auto;
    font-family: Arial, sans-serif;
}
/* Sidebar  */

.sidedisplay{
    background-color: #FFB64C36;
    display: flex;
}

.content{
    flex: 1;
    max-width: 800px;
    margin: 0 auto;
}
