
.containerHeader {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    flex-wrap: nowrap;
    width: 100%;
    padding: 10px 20px;
    max-width: 1500px;
    margin: 0 auto; 
}

.imageLogo {
    /* border-radius: 50px; */
    /* border: 5px solid #201914; */
    height: auto;
    max-width: 250px; 
    transition: all 0.3s ease-in-out;
}

@media (max-width: 600px) {
  .imageLogo {
    max-width: 110px;
  }

  .containerHeader {
    padding: 8px 15px;
  }
}
