.hero {
  padding: 4rem 2rem;
  /* background: #fff; */
  text-align: center;
  position: relative;
}

.badge {
  background-color: #fcd34d;
  color: #111827;
  padding: 0.4rem 1rem;
  border-radius: 9999px;
  font-weight: bold;
  font-size: 0.875rem;
  display: inline-block;
  margin-bottom: 1rem;
}

.title {
  font-size: 3rem;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 1rem;
  color: #1f2937;
}


.highlight {
  color: #f59e0b; 
  font-size: 3.2rem;
}

.description {
  font-size: 1.125rem;
  color: #4b5563;
  max-width: 600px;
  margin: 0 auto 2rem;
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 1rem;
  flex-wrap: wrap;
}

.buttons Button:hover{
    background-color: #000;
    color: #ffcc80;
}



@media (max-width: 1024px) {
    .title {
        font-size: 2.5rem;
        margin-top: 8px;
    }
}


@media (max-width: 600px) {
    .title {
        font-size: 2rem; 
        margin-top: 5px;
    }
}


@media (max-width: 400px) {
    .title {
        font-size: 1.8rem; 
        margin-top: 5px;
    }
}