.section {
    background-color: #FFEDCD;
    width: 80%;
    height: auto;
    text-align: center;
    margin: 40px auto 0 auto;
    align-items: center;
    border-radius: 8px;
    background-image: url('/images/Background-Graphic-3.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom center;
    padding: 4rem;
  }
  .header{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .badge{
    background-color: #FFB64C;
    padding: 5px 15px;
    border-radius: 20px;
    font-size: 0.9rem;
    font-weight: bold;
  }
  
  .subtitle {
    font-size: 1.5rem;
    color: #201914;
    font-weight: bold;
    max-width: 600px;
    margin: 0 auto 30px;
  }
  
  .steps {
    display: flex;
    justify-content: center;
    gap: 50px;
    flex-wrap: wrap;
    color: #201914;

  }

  @media (max-width: 768px) {
    .section{
      width: 90%;
    }
    .image{
        width: 200px;
        height: 200px;
    }
    .badge{
        width: 100%;
        text-align: center;
    }
    .subtitle{
      font-size: 1.5rem;

    }
    .steps {
      display: grid;
      grid-template-columns: 1fr;
      gap: 20px;
  }

}
  