.card {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  width: 100%;
  max-width: 490px; 
  min-width: 320px;
  flex: 1 1 320px;
  margin: 10px;
  padding: 20px;
  box-shadow: 0 1px 4px rgba(0,0,0,0.01);
}

.card:hover {
  transform: scale(1.02);
}

.image {
  border-radius: 8px;
  width: 100%;
  height: 200px;
  object-fit: cover;
}
/* .apicultor{
  border: none;
  background-color: #f73;
  color: #fff;
  margin-top: 2rem;
  padding: 0.1rem 0.5rem;
  border-radius: 2px;
  font-size: 12px;
  font-weight: bold;
  width: 50%;
} */
 .apicultor {
  border: none;
  background-color: #f73;
  color: #fff;
  margin-top: 2rem;
  padding: 0.1rem 0.5rem;
  border-radius: 2px;
  font-size: 12px;
  font-weight: bold;
  width: 50%;
  text-align: left;       
}
.title {
  font-size: clamp(18px, 4vw, 21px);
  margin: 10px 0;
  color: #4d3d34;
}

.description {
  font-size: clamp(14px, 3vw, 18px);
  color: #4d3d34;
  margin-bottom: 10px;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap; 
  margin-top: auto; 
}

.price {
  font-weight: bold;
  font-size: clamp(18px, 4vw, 24px);
  
}
.divPreco{
  display: flex;
  align-items: center;
  gap: 5px;
  color: #FFB64C;
}
.button{
    background-color: #FFB64C;
    padding: 0.6rem 1rem;
    border: none;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.2s ease;
    width: 100%;
    margin-top: 10px;
    align-self: flex-end;
}
.button:hover {
    background-color: white;
    color: #FFB64C;
    transform: scale(1.05);
    border: solid 1px #FFB64C;
}

@media (min-width: 1024px) {
  .card {
      max-width: 500px;
      padding: 30px;
  }

  .image {
      max-height: 350px;
  }
}


@media (max-width: 768px) {
  .card {
      max-width: 90%;
  }
}


@media (max-width: 480px) {
  .card {
      max-width: 100%;
  }

  .footer {
      flex-direction: column;
      text-align: center;
  }

  .price {
      margin-bottom: 10px;
  }
}
