.sidebar{
  transition: all 0.8s;
}

.sidebar_header{
  font-size: 40px;
}
.title{
  display: flex;
  justify-content: space-between;
  object-fit: cover;
  padding: 40px;
}

.nav{
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.bnt{
  background-color: #FFB64C;
  border: none;
  color: #fff;
  width: 100%;
  text-align: left;
  padding: 10px 20px;
  font-weight: bold;
  cursor: pointer;

}

.active {
  background-color: #040301;
  color: white;
}

.span{
  display: inline-flex;
  align-items: center;
  gap: 12px;
  height: 48px;
  padding: 0 16px 0 12px;
  font-size: 15px;
  font-weight: bold;
  font-family: sans-serif;
  color: red;
}
.spanBnt{
  display: inline-flex;
  align-items: center;
  gap: 12px;
  height: 48px;
  padding: 0 16px 0 12px;
  font-size: 20px;
  font-weight: bold;
  font-family: sans-serif;
}

@media (width < 920px){
  .sidebar{
    width: 150px;
  }
  
}
