/* styles/SideBar.module.css */

.sidebar {
  width: 260px;
  height: 100vh;
  background-color: #FFF9EC;
  border-right: 1px solid #F0E5C9;
  padding: 20px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15); 
}

.sidebar_header {
  font-size: 20px;
  color: #B67A3D;
  font-weight: bold;
  margin-bottom: 16px;
}

.title {
  margin-bottom: 40px;
}

.nav {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.bnt {
  background: none;
  border: none;
  text-align: left;
  cursor: pointer;
  padding: 0;
}

.spanBnt {
  display: flex;
  align-items: center;
  gap: 12px;
  font-size: 16px;
  color: #8D5524;
  transition: 0.3s;
}

.spanBnt:hover {
  color: #B67A3D;
}

.span {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 14px;
  color: red;
}

.menuToggle {
  position: fixed;
  z-index: 1000;
  background: none;
  border: none;
  font-size: 75px;
  color: #201914;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.15);
}

@media (min-width: 761px) {
  .menuToggle {
    display: none;
  }
}

@media (max-width: 768px) {
  .sidebar {
    position: fixed;
    top: 0;
    left: -260px;
    transition: left 0.3s ease-in-out;
    z-index: 999;
    padding-top: 200px;
  }

  .sidebar.open {
    left: 0;
  }
}
