.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    /* border: 5px solid orange; */
    height: auto;
}

.title {
  display: flex;
  justify-content: left;
  align-items: center;
  text-align: left;
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 2rem;
  /* border: 5px solid ; */
}

.content {
  width: 100%;
  max-width: 800px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1.5rem;
}

.emptyContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* margin-top: 30px; */
   margin-left: auto;
  margin-right: auto;
  padding: 8rem;
}

.emptyImage {
  margin-bottom: 10px;
  opacity: 0.7;
}

.noProductMessage {
  font-size: 1.2rem;
  color: #444;
  text-align: center;
}



.list {
  display: flex;
  align-items: center;
  gap: 1rem;
  /* border: 1px solid #ddd; */
  border-radius: 10px;
  padding: 1rem;
  background-color: #fafafa;
}

.previewImage {
  border-radius: 10px;
}

.info {
  display: flex;
  flex-direction: column;
}

.descricao {
  margin: 0;
  /* font-size: 1.2rem; */
  font-weight: 500;
}

.preco {
  margin: 0.5rem 0 0 0;
  color: #444;
}

.options{
 margin-left: auto;
 display: flex;
  
}

.bntOption{
  background-color: transparent;
  border: none;
  padding: 1rem 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  display: inline-grid;
}

@media (max-width: 768px) {
 .list {
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
  }

  .previewImage {
    width: 150px;  
    height: auto;
    align-self: center;
  }

  .options {
    /* margin-left: 0; */
    justify-content: flex-end;
  }
  .title{
    align-self: center;
  }
}