.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
}

.title {
  align-self: flex-start; 
  text-align: left;
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 2rem;
}


.content {
  width: 100%;
  max-width: 800px;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.list {
  display: flex;
  align-items: center;
  gap: 1rem;
  /* border: 1px solid #ddd; */
  border-radius: 10px;
  padding: 1rem;
  background-color: #fafafa;
}

.previewImage {
  border-radius: 10px;
}

.info {
  display: flex;
  flex-direction: column;
}

.descricao {
  margin: 0;
  /* font-size: 1.2rem; */
  font-weight: 500;
}

.preco {
  margin: 0.5rem 0 0 0;
  color: #444;
}

.options{
 margin-left: auto;
  
}

.bntOption{
  background-color: transparent;
  border: none;
  padding: 1rem 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}