.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
  padding: 16px;
}

.card{
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.title {
  font-size: clamp(32px, 5vw, 64px);
  font-weight: bold;
  text-align: center;
  margin-bottom: 8px;
  color: #f4a261;
}


.subtitle {
  text-align: center;
  color: #000;
  margin-bottom: 16px;
  font-size: clamp(16px, 2vw, 24px);
}

.form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin: 16px 0;
  padding: 0 16px;
  width: 100%;
  max-width: 800px; 
}


.input {
  padding: 16px;
  width: 100%;
  max-width: 800px;
  min-height: 50px;
  font-size: 1rem;
  border: 1px solid #f4a261;
  border-radius: 20px;
  color: #000;
}

.checkboxLabel{
  display: flex;
  gap: 10px;
  font-size: 0.9rem;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 20px;
}
.button {
  width: 100%;
  max-width: 450px;
  height: 50px;
  padding: 10px;
  font-size: 1.2rem;
  background-color: #FFB64C;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #000;
  color: #f4a261;
}


.link {
  padding-top: 50px;
  text-align: center;
  font-size: 1rem;
  color: #000;
}

.FazerLogin{
  color: #f4a261;
}

@media (min-width: 1440px) {
  .form {
      max-width: 600px;
  }
  
  .input,
  .button {
      max-width: 600px;
      font-size: 1.2rem;
  }

  .title {
      font-size: 6vw;
  }
}


@media (max-width: 768px) {
  .title {
      font-size: 6vw;
  }
  
  .input,
  .button {
      width: 90%;
  }
}


@media (max-width: 480px) {
  .title {
      font-size: 7vw;
  }

  .subtitle {
      font-size: 1rem;
  }

  .input,
  .button {
      width: 100%;
  }
}
